@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --ff-poppins-headings: 'Poppins', sans-serif;
  --ff-openSans-body: 'Open Sans', sans-serif;
  --fw-light: 400;
  --fw-semiBold: 600;

  --clr-violet-primary: hsl(257, 40%, 49%);
  --clr-magenta-soft: hsl(300, 69%, 71%);
  --clr-white: white;
  --clr-shadow: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  background: url('./images/bg-mobile.svg') no-repeat top center var(--clr-violet-primary);
  background-size: contain;
  font-family: var(--ff-openSans-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-primary {
  font-family: var(--ff-poppins-headings);
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.title-primary,
.text-primary  {
  color: var(--clr-white);
  text-align: center;
}

.text-primary {
  font-size: 1.6rem;
  opacity: .95;
}

.container {
  max-width: 375px;
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto .5fr;
  grid-template-areas: 
    "logo ."
    "illustration illustration"
    "info info"
    "midia midia"
  ;

  margin: 3.5rem 0;
}

header {
  grid-area: logo;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

header img {
  width: 140px;
}

section { 
 grid-area: illustration;
 padding: 3rem;
}

section img {
  width: 92%;
}

main {
  grid-area: info;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main a {
  background: var(--clr-white);
  display: block;
  width: 70%;
  padding: 1rem;
  text-decoration: none;
  color: var(--clr-violet-primary);
  border-radius: 40px;
  text-align: center;
  margin: 3rem 0 6rem;
}

footer {
  grid-area: midia;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  text-decoration: none;
  color: var(--clr-white);
}

footer a + a {
  margin-left: 1.5rem;
}

@media (min-width: 1400px) {
  body {
    background: url('./images/bg-desktop.svg') no-repeat center var(--clr-violet-primary);
    background-size: cover;
    height: 100vh;
  }

  .container {
    max-width: 1400px;
    height: 100vh;
    grid-template-columns: 200px auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "logo . ."
      "illustration illustration info"
      ". . midia"
    ;
  
    padding: 3.5rem;
  }

  header {
    grid-area: logo;
    padding: 0;
    margin-bottom: 6rem;
  }

  header img {
    width: 200px;
  }

  section img {
    width: 800px;
  } 

  section { 
   grid-area: illustration;
   padding: 0;
  }

  main {
    grid-area: info;
    align-items: flex-start;
  }

  main a {
    width: 35%;
    padding: 1.5rem;
    box-shadow: 0 0 40px -10px var(--clr-shadow);
    transition: background .3s;
  }

  main a:hover {
    background: var(--clr-magenta-soft);
    color: var(--clr-white);
  }

  .title-primary {
    font-size: 4rem;
    width: 20ch;
  }

  .text-primary {
    font-size: 1.8rem;
  }

  .title-primary,
  .text-primary {
    text-align: left;
  }

  footer {
    grid-area: midia;
    justify-self: end;
    padding-right: 3rem;
  }

  footer a {
    width: 40px;
    height: 40px;
    transition: color .2s;
  }

  footer a:hover {
    color: var(--clr-magenta-soft);
    border-color: var(--clr-magenta-soft);
  }
}